extends layout

block content
  h1.page-header Parties analytiques
  div.row
    div.col-md-4
      div
        img(src="images/motobecane.jpg" width="256" height="256")
    div.col-md-4
        canvas(width="256" height="256")#Spectrum
    div.col-md-4
        canvas(width="256" height="256")#Result

  div.row
    div.col-md-4
      div.panel.panel-default
        div.panel-heading Filter type
        div.panel-body#Filter
          input(type="radio" name="filter" value="HPF" checked="checked")#HPF
          label(for="HPF") Highpass
          input(type="radio" name="filter" value="LPF")#LPF
          label(for="LPF") LowPass
    div.col-md-4
      div.panel.panel-default
        div.panel-heading Filter radius
        div.panel-body
          div#Slider          
    div.col-md-4
      div.panel.panel-default
        div.panel-heading Log display
        div.panel-body
          div.well Log dispay
            div.radio
              label on
                input(type="radio" name="view" value="0" checked="checked")
            div.radio
              label off
                input(type="radio" name="view" value="1")
          div.well Options
            div.checkbox
              label Normaliser l'image filtree
                input#normalize-filtered(type="checkbox" value="" checked="checked") 
            div.checkbox
              label Log dispay
                input#view-type(type="checkbox" name="view" value="" checked="checked") 

    div.col-md-4
      div.panel.panel-default
        div.panel-heading Infos
        div.panel-body
          ul
            li#xposition
            li#yposition


//<script src="lib/js/fft.js"></script>
//<script src="lib/js/fft-client.js"></script>
