doctype 5
html
  head
    title= title
    script(type="text/javascript" src="http://code.jquery.com/jquery-1.10.2.min.js")  
    script(type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js")  
    script(src='javascripts/javascript-labs/cv/cvsandbox.js')           
    script(src='javascripts/javascript-labs/cv/fisheye.js')           
    script(src='javascripts/javascript-labs/cv/histogram.js')  
    script(src='javascripts/javascript-labs/cv/fft/fft.js')   
    != js('filtering') 
    script(src='javascripts/javascript-labs/cv/fft/spectrum.js')               
    link(rel='stylesheet', href='http://code.jquery.com/ui/1.10.3/themes/ui-lightness/jquery-ui.css')
    link(rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css")
  body
    div.container
      nav.navbar.navbar-default(role="navigation")
        div.navbar-header
          a.navbar-brand Node Image Processing
        form.navbar-form.navbar-left#load-image-form
          div.form-group
            input(type="text" placeholder="Image url").form-control
          button(type="submit").btn.btn-default Load

      block content
    != js('fft') 